In [1]:
import pandas as pd

In [2]:
# inspect dataset
sample = pd.read_csv(r"C:\Brandon\farmersdirect_data_b0cd514b-b9cc-4972-a0c2-c91726e6d825.csv", nrows = 10000)

In [4]:
sample.columns

Index(['question_id', 'question_user_id', 'question_language',
       'question_content', 'question_topic', 'question_sent', 'response_id',
       'response_user_id', 'response_language', 'response_content',
       'response_topic', 'response_sent', 'question_user_type',
       'question_user_status', 'question_user_country_code',
       'question_user_gender', 'question_user_dob', 'question_user_created_at',
       'response_user_type', 'response_user_status',
       'response_user_country_code', 'response_user_gender',
       'response_user_dob', 'response_user_created_at'],
      dtype='object')

In [10]:
pd.unique(sample['question_id'])

array([3849056, 3849061, 3849077, ..., 3887572, 3887574, 3887575],
      shape=(3265,))

In [42]:
sample.loc[sample['question_topic'] == 'cat']

,question_id,question_user_id,question_language,question_content,question_topic,question_sent,response_id,response_user_id,response_language,response_content,...,question_user_country_code,question_user_gender,question_user_dob,question_user_created_at,response_user_type,response_user_status,response_user_country_code,response_user_gender,response_user_dob,response_user_created_at
4,3849077,307821,nyn,E ENTE YANJE EZAIRE ENYENA YASHOBERA. \nOBWIRE...,cat,2017-11-22 12:25:08+00,3849291,296187,nyn,Muhanguzi.Benon kuruga masha isingiro ente yaw...,...,ug,NaN,NaN,2017-08-22 14:51:07+00,farmer,zombie,ug,NaN,NaN,2017-08-12 09:30:33+00
5,3849077,307821,nyn,E ENTE YANJE EZAIRE ENYENA YASHOBERA. \nOBWIRE...,cat,2017-11-22 12:25:08+00,3849291,296187,nyn,Muhanguzi.Benon kuruga masha isingiro ente yaw...,...,ug,NaN,NaN,2017-08-22 14:51:07+00,farmer,zombie,ug,NaN,NaN,2017-08-12 09:30:33+00
4538,3867435,224560,eng,"Q, What is the life span of a cat?",cat,2017-11-23 11:42:34+00,4014733,172068,eng,Q61 I d'nt know the life span of a cat.,...,ug,NaN,1988-10-20,2017-06-12 07:10:41+00,farmer,zombie,ug,NaN,1992-01-10,2017-03-23 17:57:53+00
4539,3867435,224560,eng,"Q, What is the life span of a cat?",cat,2017-11-23 11:42:34+00,3877960,225067,eng,Q47 btn 6---10yrs,...,ug,NaN,1988-10-20,2017-06-12 07:10:41+00,farmer,live,ug,male,1984-10-28,2017-06-12 17:02:07+00
4540,3867435,224560,eng,"Q, What is the life span of a cat?",cat,2017-11-23 11:42:34+00,3868183,226487,eng,Q30 it is like a human being,...,ug,NaN,1988-10-20,2017-06-12 07:10:41+00,farmer,zombie,ug,female,1997-07-04,2017-06-15 07:12:07+00
6225,3875039,498731,eng,Q WE DEWORM DOGS AND CATS BY,cat,2017-11-23 17:45:18+00,3893499,241320,eng,"Q27.To deworm dogs, go to vet shop be sold dr...",...,ke,NaN,1993-04-05,2017-11-09 17:34:54+00,farmer,live,ke,NaN,NaN,2016-08-26 10:42:19+00

In [33]:
sample.dtypes

question_id                    int64
question_user_id               int64
question_language             object
question_content              object
question_topic                object
question_sent                 object
response_id                    int64
response_user_id               int64
response_language             object
response_content              object
response_topic                object
response_sent                 object
question_user_type            object
question_user_status          object
question_user_country_code    object
question_user_gender          object
question_user_dob             object
question_user_created_at      object
response_user_type            object
response_user_status          object
response_user_country_code    object
response_user_gender          object
response_user_dob             object
response_user_created_at      object
dtype: object

In [69]:
sample.groupby('question_id').count().sort_values(by = 'response_id', ascending = False)

,question_user_id,question_language,question_content,question_topic,question_sent,response_id,response_user_id,response_language,response_content,response_topic,...,question_user_country_code,question_user_gender,question_user_dob,question_user_created_at,response_user_type,response_user_status,response_user_country_code,response_user_gender,response_user_dob,response_user_created_at
question_id,,,,,,,,,,,,,,,,,,,,,
3887048,45,45,45,45,45,45,45,45,45,45,...,45,0,0,45,45,45,45,7,7,45
3879558,33,33,33,0,33,33,33,33,33,4,...,33,0,0,33,33,33,33,0,0,33
3879583,29,29,29,29,29,29,29,29,29,18,...,29,0,0,29,29,29,29,1,1,29
3862643,27,27,27,27,27,27,27,27,27,15,...,27,0,0,27,27,27,27,3,3,27
3869427,26,26,26,26,26,26,26,26,26,20,...,26,0,0,26,26,26,26,2,2,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3878731,1,1,1,0,1,1,1,1,1,0,...,1,0,0,1,1,1,1,0,0,1
3854247,1,1,1,0,1,1,1,1,1,0,...,1,0,0,1,1,1,1,1,1,1
3878708,1,1,1,0,1,1,1,1,1,0,...,1,0,0,1,1,1,1,0,0,1
3878705,1,1,1,1,1,1,1,1,1,0,...,1,0,0,1,1,1,1,0,0,1
3849056,1,1,1,0,1,1,1,1,1,0,...,1,0,0,1,1,1,1,0,0,1

In [75]:
sample[sample['question_id'] == 3887048]['question_content'].iloc[0]

'Q.i want 2 knw some of the crops grown around narok county.'

In [ ]:
responses_sample = sample.loc[sample['question_language'] == 'eng' AND sample['']]
answers_sample

,question_id,question_user_id,question_language,question_content,question_topic,question_sent,response_id,response_user_id,response_language,response_content,...,question_user_country_code,question_user_gender,question_user_dob,question_user_created_at,response_user_type,response_user_status,response_user_country_code,response_user_gender,response_user_dob,response_user_created_at
1,3849061,521327,eng,Q this goes to wefarm. is it possible to get f...,NaN,2017-11-22 12:25:05+00,4334249,526113,eng,Q1 which stage is marleks last vaccinated,...,ug,NaN,NaN,2017-11-20 11:55:48+00,farmer,zombie,ug,NaN,NaN,2017-11-22 10:13:03+00
9,3849084,6642,eng,Q-i have stock rabbit's urine for 5 weeks mash...,rabbit,2017-11-22 12:25:10+00,3852272,35690,eng,Q165#Ksh120,...,ke,NaN,NaN,2015-07-28 17:12:04+00,farmer,zombie,ke,NaN,NaN,2015-11-14 19:59:19+00
15,3849098,526375,eng,Q J Have Mi 10000 Can J Start Aproject Of Pout...,poultry,2017-11-22 12:25:12+00,3859675,522795,eng,Q5 10000 is not enough because the materials n...,...,ug,NaN,NaN,2017-11-22 12:10:37+00,farmer,zombie,ug,NaN,NaN,2017-11-21 07:08:05+00
16,3849100,237506,eng,WHERE DO I GET SEEDS OF COCONUT?,pig,2017-11-22 12:25:12+00,4263505,412335,eng,"Q11:try kisumu ,migori ,homa bay,siaya and any...",...,ke,NaN,NaN,2017-06-27 10:45:20+00,farmer,destroyed,ke,NaN,NaN,2017-10-03 17:35:12+00
17,3849100,237506,eng,WHERE DO I GET SEEDS OF COCONUT?,coconut,2017-11-22 12:25:12+00,3852604,412335,eng,Q11:coast Cereals,...,ke,NaN,NaN,2017-06-27 10:45:20+00,farmer,destroyed,ke,NaN,NaN,2017-10-03 17:35:12+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,3887575,449149,eng,Q. Does arrow roots need fertilisers to produc...,pigeon,2017-11-24 11:11:28+00,3931640,309628,eng,Q21 potassium fertilizer really helps,...,ke,NaN,1988-06-24,2017-10-18 18:16:44+00,farmer,zombie,ke,NaN,NaN,2017-08-24 07:31:15+00
9996,3887575,449149,eng,Q. Does arrow roots need fertilisers to produc...,taro,2017-11-24 11:11:28+00,3897454,329232,eng,Q46 You Can!,...,ke,NaN,1988-06-24,2017-10-18 18:16:44+00,farmer,live,ke,NaN,NaN,2017-09-05 17:49:19+00
9997,3887575,449149,eng,Q. Does arrow roots need fertilisers to produc...,taro,2017-11-24 11:11:28+00,3931640,309628,eng,Q21 potassium fertilizer really helps,...,ke,NaN,1988-06-24,2017-10-18 18:16:44+00,farmer,zombie,ke,NaN,NaN,2017-08-24 07:31:15+00
9998,3887575,449149,eng,Q. Does arrow roots need fertilisers to produc...,pigeon,2017-11-24 11:11:28+00,3897454,329232,eng,Q46 You Can!,...,ke,NaN,1988-06-24,2017-10-18 18:16:44+00,farmer,live,ke,NaN,NaN,2017-09-05 17:49:19+00
9999,3887575,449149,eng,Q. Does arrow roots need fertilisers to produc...,pigeon,2017-11-24 11:11:28+00,3887617,274595,eng,Q27 organic mature/fertilise,...,ke,NaN,1988-06-24,2017-10-18 18:16:44+00,farmer,live,ke,NaN,NaN,2017-07-23 18:54:43+00